In [3]:
import pandas as pd

In [10]:
data = pd.read_csv(r"C:\\DataScience\\reto\\jm_train.csv")
data.head()

   feature1  feature2  feature3  feature4  feature5  feature6  target
0  0.474335  0.881640 -2.050543 -1.251935 -1.035151 -1.934367       4
1 -1.034675  1.741801 -1.660629 -1.555989 -0.337553 -2.473838       0
2 -0.563221 -0.688381 -0.318415 -1.845172  0.352366 -0.912928       1
3 -1.268179  2.770688  1.054193  2.830389  0.395093  0.677715       3
4 -1.216380 -0.391267 -2.898931 -0.913074 -2.171857 -2.367490       0

In [12]:
import numpy as np

In [13]:
labels=np.array(data["target"])

In [14]:
features= data.drop("target", axis = 1)
# Saving feature names for later use
feature_list = list(data.columns)
# Convert to numpy array
features = np.array(features)

In [15]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(features, labels);

In [32]:
# Use the forest's predict method on the test data
predictions = rf.predict(features)
y=np.rint(predictions)

In [27]:
labels.dtype

dtype('int64')

In [33]:
y

array([4., 0., 1., ..., 3., 4., 3.])

In [34]:
from sklearn.metrics import classification_report,confusion_matrix

print(classification_report(labels,y))

              precision    recall  f1-score   support

           0       1.00      0.88      0.93       427
           1       0.86      0.94      0.90       423
           2       0.87      0.93      0.90       419
           3       0.88      0.93      0.90       426
           4       1.00      0.91      0.95       405

    accuracy                           0.92      2100
   macro avg       0.92      0.92      0.92      2100
weighted avg       0.92      0.92      0.92      2100

In [17]:
test = pd.read_csv(r"C:\\DataScience\\reto\\jm_X_test.csv")
test.head()

   feature1  feature2  feature3  feature4  feature5  feature6
0  0.943723 -2.985473 -0.938218  3.580261 -3.038106  2.080338
1 -0.899819  1.295568  1.274513  0.718186  1.117035  0.463068
2  0.293281 -0.099317  1.874902 -0.589582  1.828441  1.011596
3 -1.134804  0.888585 -1.464499 -1.183056 -0.525729 -1.963822
4 -0.909240  1.575797  0.697212  1.197092  0.486185  0.222644

In [38]:
test_predictions = rf.predict(test)
w=np.rint(test_predictions)

In [79]:
f=pd.DataFrame(w)
f=f.astype(int)

In [80]:
f.columns=["prediccion"]
f

     prediccion
0             1
1             3
2             2
3             0
4             3
..          ...
895           3
896           4
897           1
898           3
899           4

[900 rows x 1 columns]

In [81]:
f.to_csv("final.csv", index=False)

In [82]:
respuesta = pd.read_csv("final.csv")
respuesta.head()

   prediccion
0           1
1           3
2           2
3           0
4           3

In [36]:
ejemplo= pd.read_csv(r"C:\\DataScience\\reto\\ejemplo_predicciones.csv")
ejemplo

    final_status
0              1
1              1
2              1
3              1
4              1
5              1
6              1
7              0
8              0
9              1
10             0
11             0
12             0
13             1
14             0
15             0
16             1
17             1
18             0
19             1
20             1
21             1
22             1
23             0
24             1
25             0
26             1
27             1
28             0
29             1